<link rel="icon" href="{{ .Site.BaseURL }}icon.png" type="image/png">
<link rel="stylesheet" href="{{ .Site.Params.bigfootURL }}/dist/bigfoot-default.css" data-concatenate-into="{{ .Site.BaseURL }}combined.css">
<link rel="stylesheet" href="{{ .Site.BaseURL }}styles.css" data-concatenate-into="{{ .Site.BaseURL }}combined.css">
<script src="{{ .Site.Params.jqueryURL }}" data-concatenate-into="{{ .Site.BaseURL }}combined.js"></script>
<script src="{{ .Site.Params.bigfootURL }}/dist/bigfoot.js" data-concatenate-into="{{ .Site.BaseURL }}combined.js"></script>
<script src="{{ .Site.BaseURL }}replacewithsvg.js" data-concatenate-into="{{ .Site.BaseURL }}combined.js"></script>
<script src="{{ .Site.BaseURL }}inline_footnotes.js" data-concatenate-into="{{ .Site.BaseURL }}combined.js"></script>
<script>
	$.bigfoot();
</script>
