<link rel="stylesheet" href="{{ .Site.BaseURL }}bigfoot/dist/bigfoot-default.css">
<link rel="stylesheet" href="{{ .Site.BaseURL }}styles.css">
<script type="text/javascript" src="{{ .Site.BaseURL }}jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}bigfoot/dist/bigfoot.min.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}replacewithsvg.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}inline_footnotes.js"></script>
<script type="text/javascript">
	$.bigfoot();
</script>
