<link rel="icon" href="{{ .Site.BaseURL }}icon.png" type="image/png">
<link rel="stylesheet" href="{{ .Site.Params.bigfootURL }}/dist/bigfoot-default.css" data-concatenate-into="{{ .Site.BaseURL }}combined.css">
<link rel="stylesheet" href="{{ .Site.BaseURL }}styles.css" data-concatenate-into="{{ .Site.BaseURL }}combined.css">
<script type="text/javascript" src="{{ .Site.Params.jqueryURL }}" data-concatenate-into="{{ .Site.BaseURL }}combined.js"></script>
<script type="text/javascript" src="{{ .Site.Params.bigfootURL }}/dist/bigfoot.min.js" data-concatenate-into="{{ .Site.BaseURL }}combined.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}replacewithsvg.js" data-concatenate-into="{{ .Site.BaseURL }}combined.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}inline_footnotes.js" data-concatenate-into="{{ .Site.BaseURL }}combined.js"></script>
<script type="text/javascript">
	$.bigfoot();
</script>
