ul li {
	line-height: 1.8;
	margin-bottom: 10px;
}

.caution {
	border: 3px solid #f03838;
	border-left-width: 20px;
	padding: 1rem;
}

.caution-label {
	text-transform: uppercase;
}

.figure {
	display: block;
	position: relative;
	width: 100%;
	margin: 0; padding: 0;
}
.figure img, .figure object {
	display: block;
	margin: 0; padding: 0;
	width: 100%;
}

/*
	If the intrinsic placeholders are in place, set them up.
	See postprocessing/process-intrinsic-placeholders.xsl for details.
*/
.figure[data-intrinsic-placeholder="processed"] {
	height: 0;
	padding-top: 100%; /* Default to square */
}
.figure[data-intrinsic-placeholder="processed"] img, .figure[data-intrinsic-placeholder="processed"] object {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
}

.legend {
	text-align: center;
	margin: 5em;
	margin-top: -10px;
	margin-bottom: 30px;
	font-size: 0.9em;
	line-height: 2.5ex;

	/* Ensure the legend sits on top the figure, not underneath it. */
	position: relative;
}

.inlineFootnote-note .bigfoot-footnote__button {
	background-color: #f03838;
}

.inlineFootnote-ref .bigfoot-footnote__button {
	background-color: rgb(200, 200, 200);
}

.bigfoot-footnote__content {
	margin-bottom: 1em;

	/* Correctly handle footnotes in legends */
	text-align: left;
	font-style: normal;
}

.bigfoot-footnote__button::after {
	/*
	 * Override display: table from bigfoot.
	 * It's not clear what it's for, but it seems to cause button height issues in tables.
	 */
	display: inherit;
}

.footer-about {
	color: #656565;
	font-size: 14px;
	margin: 0;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
}
